.spinner-container {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* Full screen height */
}

.spinner {
    border: 4px solid #61dafb;
    border-left-color: #000;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
